<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
    <link href="/css/display.css" rel="stylesheet">
</head>
<body>
<div id="calendar1"></div>
<div id="calendar2"></div>
<div id="calendar3"></div>

<script src="/js/d3.v4.js"></script>
<script src="/js/d3-scale-chromatic.v1.js"></script>
<script src="/js/displayMonth.js"></script>
<script>
    let item = {
        startDate : "2021-02-01T00:00:00.000Z",
        endDate : "2021-04-30T00:00:00.000Z",
        months : [
            {month: "2021-02-01T00:00:00.000Z", checkins: ["2021-02-02"]},
            {month: "2021-03-01T00:00:00.000Z", checkins: ["2021-03-05"]},
            {month: "2021-04-01T00:00:00.000Z", checkins: ["2021-04-05"]}]
    };

    drawMonth("#calendar1", item.months[0].month, item.months[0].checkins);
    drawMonth("#calendar2", item.months[1].month, item.months[1].checkins);
    drawMonth("#calendar3", item.months[2].month, item.months[2].checkins);
</script>
</body>
</html>