<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
    <style>
        #calendar {
            margin: 20px;
        }
        .month {
            margin-right: 8px;
        }
        .month-name {
            font-size: 85%;
            fill: #777;
            font-family: Arial, Helvetica,serif;
        }
        .day.hover {
            stroke: #6d6E70;
            stroke-width: 2;
        }
        .day.focus {
            stroke: #ffff33;
            stroke-width: 2;
        }
    </style>
</head>
<body>
<div id="calendar1"></div>
<div id="calendar2"></div>
<div id="calendar3"></div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script>
    function drawMonth(selector, monthDate, checkins) {
        var minDate = new Date(monthDate);
        var maxDate = new Date(monthDate);

        var calendarRows = function(month) {
            var m = d3.timeMonth.floor(month);
            return d3.timeWeeks(d3.timeWeek.floor(m), d3.timeMonth.offset(m,1)).length;
        };

        var cellMargin = 2,
            cellSize = 20;

        // https://github.com/d3/d3-time-format
        var day = d3.timeFormat("%u"), // %u - Monday-based (ISO 8601) weekday as a decimal number [1,7].
            week = d3.timeFormat("%W"), // %W - Monday-based week of the year as a decimal number [00,53].
            format = d3.timeFormat("%Y-%m-%d"),
            titleFormat = d3.utcFormat("%a, %d-%b"),
            monthName = d3.timeFormat("%B"),
            months= d3.timeMonth.range(d3.timeMonth.floor(minDate), maxDate);

        // each month gets an SVG. svgs are drawn left to right
        var svg = d3.select(selector).selectAll("svg")
            .data(months)
            .enter().append("svg")
            .attr("class", "month")
            .attr("width", (cellSize * 7) + (cellMargin * 8) )
            .attr("height", function(d) {
                var rows = calendarRows(d);
                return (cellSize * rows) + (cellMargin * (rows + 1)) + 20; // the 20 is for the month labels
            })
            .append("g");

        // Text labels for the months
        svg.append("text")
            .attr("class", "month-name")
            .attr("x", ((cellSize * 7) + (cellMargin * 8)) / 2 )
            .attr("y", 15)
            .attr("text-anchor", "middle")
            .text(function(d) { return monthName(d); });

        // Draws a rounded square for each day in the months.
        var rect = svg.selectAll("rect.day")
            .data(function(d, i) {
                return d3.timeDays(d, new Date(d.getFullYear(), d.getMonth()+1, 1));
            })
            .enter().append("rect")
            .attr("class", "day")
            .attr("width", cellSize)
            .attr("height", cellSize)
            .attr("rx", 3).attr("ry", 3) // rounded corners
            .attr("fill", '#eaeaea') // default light grey fill
            .attr("x", function(d) {
                return ((day(d)-1) * cellSize) + ((day(d)-1) * cellMargin) + cellMargin; // shift day coz they use 1-7 for monday week
            })
            .attr("y", function(d) {
                return ((week(d) - week(new Date(d.getFullYear(),d.getMonth(),1))) * cellSize) +
                    ((week(d) - week(new Date(d.getFullYear(),d.getMonth(),1))) * cellMargin) +
                    cellMargin + 20;
            })
            .on("mouseover", function(d) {
                d3.select(this).classed('hover', true);
            })
            .on("mouseout", function(d) {
                d3.select(this).classed('hover', false);
            })
            .datum(format);

        // creates a title to show when hovering over a day.
        rect.append("title")
            .text(function(d) { return titleFormat(new Date(d)); });

        var lookup = d3.nest()
            .key(function(d) { return d; })
            .rollup(function(leaves) { return leaves.length; })
            .object(checkins);

        // fills in a colour for a rect if there are associated counts.
        rect.filter(function(d) { return d in lookup; })
            .style("fill", '#111111')
            .classed("clickable", true)
            .select("title")
            .text(function(d) { return titleFormat(new Date(d)) + ":  " + lookup[d]; });
    }

</script>
<script>
    let item = {
        startDate : "2021-02-01T00:00:00.000Z",
        endDate : "2021-04-30T00:00:00.000Z",
        months : [
            {month: "2021-02-01T00:00:00.000Z", checkins: ["2021-02-02"]},
            {month: "2021-03-01T00:00:00.000Z", checkins: ["2021-03-05"]},
            {month: "2021-04-01T00:00:00.000Z", checkins: ["2021-04-05"]}]
    };

    drawMonth("#calendar1", item.months[0].month, item.months[0].checkins);
    drawMonth("#calendar2", item.months[1].month, item.months[1].checkins);
    drawMonth("#calendar3", item.months[2].month, item.months[2].checkins);
</script>
</body>
</html>