<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Habit</title>
    <style>
        #completions {
            margin: 20px;
        }
        .month {
            margin-right: 8px;
        }
        .month-name {
            font-size: 85%;
            fill: #777;
            font-family: Arial, Helvetica,serif;
        }
        .day.hover {
            stroke: #6d6E70;
            stroke-width: 2;
        }
        .day.selected {
            stroke: #2755ff;
            stroke-width: 2;
            fill: #1fff95;
        }
    </style>
    <script src="/webjars/jquery/3.6.0/jquery.js"></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <div th:text="${habit.title}">title</div>
    <div id="completions"></div>
    <button class="btn btn-warning" onclick="dataDump()">test</button>
</div>

<th:block layout:fragment="optional">
    <script src="/js/d3.v4.js"></script>
    <script src="/js/displayCompletions.js"></script>

    <script th:inline="javascript">
        let habit = [[${habit}]];
        console.log('habit', habit);
        drawCompletions('#completions', habit.startDate, habit.endDate, habit.completions)
    </script>

    <script>
        function dataDump() {
            let originals = d3.selectAll('#completions rect.original').data();
            console.log('originals', originals);

            let selected = d3.selectAll('#completions rect.selected').data();
            console.log('selected', selected);
        }
    </script>
</th:block>

</body>
</html>