<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Habit</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div th:text="${habit.title}">title</div>
    <div th:text="'Starting ' + ${habit.startDate} + ' -- ending ' + ${habit.endDate}">period</div>
    <div th:text="${habit.note}">main note</div>

    <div th:each="month, mStat : ${habit.months}"
         th:id="'calendarH' + ${habit.id} + 'M'  + ${mStat.index}"></div>
</div>

<th:block layout:fragment="optional">
    <script src="/js/d3.v4.js"></script>
    <script src="/js/d3-scale-chromatic.v1.js"></script>
    <script src="/js/displayMonth.js"></script>

    <script th:inline="javascript">
        let habit = [[${habit}]];
        habit.months.forEach(function (mval, m) {
            let select = "#calendarH" + habit.id + "M" + m;
            drawMonth(select, mval.firstDay, mval.completions);
        });
    </script>
</th:block>

</body>
</html>