<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Habits</title>
</head>
<body>
<h1>Habit display</h1>

<div th:each="habit, iStat : ${habits}">
    <div th:text="${habit.title}">title</div>
    <div th:text="'Starting ' + ${habit.startDate} + ' -- ending ' + ${habit.endDate}">period</div>
    <div th:text="${habit.note}">main note</div>
    <div th:each="month : ${habit.months}" th:text="${month.firstDay.getMonth().toString()}"></div>
</div>

</body>
</html>