<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Jungbauer</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.css"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">Consistency Calendar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/habits}">Habits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/display}">Display</a>
            </li>
        </ul>
    </div>
</nav>
<section layout:fragment="content">
    <p>Your page content goes here</p>
</section>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"
         th:text="'© ' + ${#temporals.year(#temporals.createToday())} + ' Copyright: Johann Jungbauer'">
        © 2020 Copyright: Johann Jungbauer
    </div>
</footer>

<th:block layout:fragment="optional" />

</body>
</html>